[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-failsafe = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
marshmallow-enum = "*"
marshmallow-sqlalchemy = "*"
openpyxl = "*"
pandas = "*"
psycopg2 = "*"
xlrd = "*"

[dev-packages]
autopep8 = "*"
black = "==21.7b0"
flake8 = "*"
jupyter = "*"
mypy = "*"
pytest = "*"
pytest-black = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-mypy = "*"
flask-shell-ipython = "*"

[requires]
python_version = "3.9"
